<div class="w-1/2 bg-gray-50 rounded-lg p-5 my-20 drop-shadow-2xl border-t-2 border-gray-100 mx-auto">
  <h1 class="text-center font-bold text-3xl"><i class="bi bi-file-lock2-fill text-cyan-500 mr-3"></i>LOGIN</h1>
  <hr class="my-4"/>
  <form method="post" [formGroup]="loginForm" (ngSubmit)="handleLoginSubmit()" class="w-2/3 mx-auto pt-10">
    <label for="username">Username : </label>
    <input type="text" placeholder="Enter your Username" id="username" formControlName="username" class="ring-2 ring-cyan-500 p-2 w-full mt-3 mb-5 rounded-sm shadow-sm"/>
    <label for="pwd">Password : </label>
    <input type="password" placeholder="Enter your Password" id="pwd" formControlName="password" class="ring-2 ring-cyan-500 p-2 w-full mt-3 mb-5 rounded-sm shadow-sm"/>
    <button type="submit" class="w-full text-center py-2 bg-cyan-500 hover:bg-blue-600 text-white my-10 rounded-sm">Login</button>
  </form>
</div>
