<nav class="bg-gray-100 border-gray-200 px-2 sm:px-4 py-2.5 shadow-md">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <div>
    <a router-link="/" class="flex items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap"><img src={{logo}} class="rounded-xl p-1" alt="Bank logo" width="80"/></span>
    </a>
    </div>



    <div class="flex items-center md:order-2">
      <ng-container *ngIf="!user; else authenticated">
        <a routerLink="/login" class="ml-5 hover:bg-blue-100 transition duration-300 ease-in-out block py-2 px-5 text-gray-700 border-b border-gray-100 rounded-full md:border-0 md:hover:text-blue-700 md:py-2 md:px-5"><i class="bi bi-box-arrow-in-right mr-2"></i>Login</a>
      </ng-container>

      <ng-template #authenticated>
        <button type="button" class="flex mr-3 text-sm rounded-full md:mr-0" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
          <div class="transition ease-out-in duration-300 bg-white w-10 h-10 rounded-full overflow-hidden hover:ring-4 hover:ring-gray-300">
            <img src={{avatar}} alt="profile picture" class="p-2"/>
          </div>
        </button>
        <button (click)="logout()" class="font-semibold ml-5 hover:bg-red-100 transition duration-300 ease-in-out block py-2 px-5 text-gray-700 border-b border-gray-100 rounded-full md:border-0 md:hover:text-red-700 md:py-2 md:px-5"><i class="bi bi-box-arrow-right mr-2"></i> Logout</button>

      </ng-template>

    </div>
    <div class="hidden justify-center text-center items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">

        <li>
          <a routerLink="/" class="hover:bg-green-100 transition duration-300 ease-in-out block py-2 px-5 text-gray-700 border-b border-gray-100 rounded md:border-0 md:hover:text-green-700 md:py-2 md:px-5"><i class="bi bi-house-fill mr-2"></i> Home</a>
        </li>

        <li>
          <a routerLink="/customers" class="hover:bg-green-100 transition duration-300 ease-in-out block py-2 px-5 text-gray-700 border-b border-gray-100rounded md:border-0 md:hover:text-green-700 md:py-2 md:px-5"><i class="bi bi-people-fill mr-2"></i> Customers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
